@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* HEADER */

.logo{
    display: block;
    margin: 0 auto;
}

/* MAIN */

.container{
    width: 580px;
    height: 111px;
    border-bottom: lightgray 1px solid;
    margin: 0 auto;
    display:flex
}

.time{
    font-weight: bold;
    align-self:center;
    margin-right: 5px
}

img{
    height: 80px;
    border-radius: 5px;
    align-self:center;
    margin-right: 5px;
    object-fit:cover;
    object-position: center
}

h1{
    font-size: medium;
}

.type{
    font-size: small;
    margin-bottom: 0;
}

.container2{
    display:flex
}

.duration{
    font-size: small;
    font-weight: bold;
    margin-right: 4px;
    }


.direct, .inédit{
    display: flex;
    color: red;
    font-size: small;
    font-weight: bold;
    }